/* CSS declarations go here */

.media .media-heading {
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}
.media .p {
    overflow-wrap: break-word;
}
.media .media-heading, .media .media-heading a {
    color: #333333;
    text-decoration: none;
}

.media {
    border-bottom: 1px solid rgba(164, 158, 147, 0.22);
    padding-bottom: 30px;
    margin-top: 30px;
}
.media-area-small p {
    font-size: 14px;
}
@media all and (max-width: 1000px) {
    .fixed {
        position: relative;
        width: auto;
        background-color: #FFFFFF;
        border: 1px solid #ccc;
        margin-top: 8%;
        padding: 2%;
        z-index: 1;
    }
}